@font-face {
    font-family: 'Roboto-Light';
    src: url('../font/Roboto-Light.ttf');
}

/*reset*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto-Light';
}

/*#region global*/
.geral{
    width:100%;
    height:auto;
    text-align:center;
}

.topo{
    width:60%;
    margin:0 auto;
}

.formulario {
    width: 100%;
    padding:40px;
}

    .formulario li{
        padding:5px 0;
    }

    .formulario input[type=text] {
        width: 70%;
        padding: 5px;
    }

.formulario li:last-child{
    width:85%;
    margin:0 auto;
}

    .formulario input[type=submit] {
        padding: 5px;
    }

    .formulario select {
        width: 42%;
        padding: 5px;
    }

    .gridView {
        width: 100%;
        height: auto;
    }



    .search input[type=text] {
        width: 70%;
        margin: 0 auto;
    }

    .gridView table {
        width: 100%;
        height: auto;
    }

/*#endregion*/
